<!DOCTYPE html>
<html lang="ko">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="방문을 환영합니다 | AirBnBAid" />
  <meta property="og:description" content="임대 또는 소유하고있는 집을 공유하고 싶다면 합법적으로 운영할 수 있는지 체크해보세요!" />
  <meta property="og:image" content="{{ url_for('images', filename='og_abba.png') }}" />

  <script>
    //라디오버튼 하나씩 돌면서 체크된 순서의 인덱스를 받는다.
    //순서대로 받고, 그 인덱스의 조합으로 resultType을 요청한다.
    const findChecked = (askType) => {
      let askTypeLength = document.getElementsByName(askType).length;
      for (let i = 0; i < askTypeLength; i++) {
        if (document.getElementsByName(askType)[i].checked) {
          return i.toString()
        }
      }
    }

    const getChecked = () => {
      let checkVal = findChecked('houseType') + findChecked('locationType') + findChecked('hostType') + findChecked('guestType')
      console.log(checkVal)
      return { checkVal }
    }

    const convertHtml = (value) => {
      if (typeof value == "string" && value.includes('/')) {
        value = '<li>' + value.replaceAll('/', '</li><li>') + '</li>'
        return value;
      }
      return value;
    }

    const showResult = () => {
      let checkVal = getChecked()

      $('#result_box').empty();  //결과확인 여러번 클릭 시 중복으로 찍히지 않도록
      // dataType json으로 해두니, data 객체로 잘넘어감
      $.ajax({
        type: 'POST',
        url: '/legalCheck',
        dataType: 'json',
        data: checkVal,
        success: function (response) {
          swal({
            title: "검토가 완료되었습니다!",
            text: "아래 버튼을 눌러 결과를 확인하세요.",
            icon: "success",
            button: "결과보기",
          });

          let results = response

          for (let i in results) {
            for (let [key, value] of Object.entries(results[i])) {
              results[i][key] = convertHtml(value);
            }

            let { title, law, houseType, houseLocation, guest, host, info } = results[i]

            let temp_html = `<div class="content" id='result'>
                                              <h3>${title}</h3>
                                              <table class='result_table'>
                                                <thead class='result_thead'>
                                                  <tr>
                                                    <th>구분</th>
                                                    <th>세부 내용</th>
                                                  </tr>
                                                </thead>
                                                <tbody class='result_tbody'>
                                                  <tr>
                                                    <td>관련법</td>
                                                    <td>${law}</td>
                                                  </tr>
                                                  <tr>
                                                    <td>부동산 종류</td>
                                                    <td>${houseType}</td>
                                                  </tr>
                                                  <tr>
                                                    <td>부동산 위치</td>
                                                    <td>${houseLocation}</td>
                                                  </tr>
                                                  <tr>
                                                    <td>게스트</td>
                                                    <td>${guest}</td>
                                                  </tr>
                                                  <tr>
                                                    <td>호스트</td>
                                                    <td>${host}</td>
                                                  </tr>
                                                  <tr>
                                                    <td>기타 정보</td>
                                                    <td>${info}</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>`

            $('#result_box').append(temp_html)
          }
        }
      });
    }
  </script>

  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <style>

  </style>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          테스트
        </a>

        <a class="navbar-item">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About AirBnB Aid
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <!-- <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div> -->
      </div>
    </div>
  </nav>

  <section class="section"  id="top_title">
    <h1 class="title">합법적으로 에어비앤비를 운영할 수 있는지 바로 확인해보세요!</h1>
    <h2 class="subtitle">
      아래 테스트를 진행한 후 맨 하단의 <strong>[결과확인]</strong> 버튼을 클릭하시면 바로 결과를 확인할 수 있습니다.
    </h2>
  </section>

  <div class="container">
    <div class="question_box">
      <h2 class="option_title">공유할 부동산의 유형을 선택하세요.</h2>
      <h3 class="option_subtitle">(오피스텔 또는 주택 연면적 230m² 이상인 경우 공유할 수 없습니다.)</h3>
      <div class="option_group">
        <div class="option_box">
          <label for="한옥"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="한옥" name="houseType" value="한옥" checked>
            <label for="한옥">한옥</label>
          </div>
        </div>
        <div class="option_box">
          <label for="단독주택"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="단독주택" name="houseType" value="단독주택">
            <label for="단독주택">단독주택/다가구주택</label>
          </div>
        </div>
        <div class="option_box">
          <label for="공동주택"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="공동주택" name="houseType" value="공동주택">
            <label for="공동주택">연립주택/다세대주택/아파트</label>
          </div>
        </div>
      </div>

      <div class="accordion" id="houseType_info_accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseOne">
              부동산 유형은 어디서 확인할 수 있나요?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="question_box">
      <h2 class="option_title">공유할 부동산의 위치를 선택하세요.</h2>
      <div class="option_group">
        <div class="option_box">
          <label for="농어촌"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="농어촌" name="locationType" value="농어촌" checked>
            <label for="농어촌">(준)농어촌지역</label>
          </div>
        </div>

        <div class="option_box">
          <label for="서울"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="서울" name="locationType" value="서울">
            <label for="서울">서울(지하철 1~9호선 1km이내)</label>
          </div>
        </div>

        <div class="option_box">
          <label for="도시"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="도시" name="locationType" value="도시">
            <label for="도시">그 외 도시</label>
          </div>
        </div>
      </div>

      <div class="accordion" id="locationType_info_accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseOne">
              <b>서울(지하철 1~9호선 1km이내)</b>의 상세 기준
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="question_box">
      <h2 class="option_title">호스트의 전입 여부를 선택하세요.</h2>
      <div class="option_group">

        <div class="option_box">
          <label for="전입"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="전입" name="hostType" value="전입" checked>
            <label for="전입">전입</label>
          </div>
        </div>

        <div class="option_box">
          <label for="미전입"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="미전입" name="hostType" value="미전입">
            <label for="미전입">미전입</label>
          </div>
        </div>
      </div>
    </div>

    <div class="question_box">
      <h2 class="option_title">손님으로 맞이할 게스트의 내/외국인 여부를 선택하세요.</h2>
      <div class="option_group">

        <div class="option_box">
          <label for="내/외국인"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="내/외국인" name="guestType" value="내/외국인" checked>
            <label for="내/외국인">내/외국인</label>
          </div>
        </div>

        <div class="option_box">
          <label for="외국인"><img src="images/house_sample.jpg" class="option_img" alt="house_img"></label>
          <div class="option_radio">
            <input type="radio" class="form-check-input" id="외국인" name="guestType" value="외국인">
            <label for="외국인">외국인</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="result_button">
    <!--버튼의 파라미터로 선택한 체크박스들 값이 들어가고, 해당 파라미터를 조건으로 서버에서 조건 판단하여 결과 리턴하면 됨-->
    <button onclick="showResult()" type="button" class="btn btn-primary">결과 확인</button>
  </div>


  <div class="container" id="result_box">
    
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

</body>

</html>