body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  box-shadow: 0 4px 2px -2px gray;
}

.section{
  text-align: center;
}

.question_box{
  margin-bottom: 30px;
  padding: 50px;
  border-bottom: gray solid 1px;
}

.option_title{
  font-size: xx-large;
  text-align: center;
  margin-bottom: 10px;
}

.option_subtitle{
  font-size: large;
  text-align: center;
  margin-bottom: 10px;
}

.option_group{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.option_box{
  display: inline-block;
  padding: 5px;  
}

.option_img{
  width: 300px;
  height: 200px;
  border-radius: 30px;
}

.option_radio{
  margin-top: 10px;
  font-size: 15px;
}

.accordion{
  margin-top: 30px;
}

#result_button{
  margin: 30px;
  text-align: center;
}

#result{
  margin-top: 25px;
  margin-bottom: 25px;
  background-color:seashell;
  border-radius: 15px;
}

/* #result_box .content:nth-child(odd){
  margin-bottom: red solid 2px;
  margin: 100px;
  color: #00B7FF;
} */

.content{
  padding: 20px;
}

.content h3 {
  font-size: x-large;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}

.result_table {
  width: 80%;
}

.result_thead tr:nth-child(1){
  text-align: center;
  font-size: 20px;
}

.result_table td:nth-child(odd){
  text-align: center;
  font-weight: bolder;
  margin-top: 49px;
  width: 30%;
}

.result_table td:nth-child(even){
  width: auto;
}


/* --about page-- */

.card-about{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* report page */

.field-report{
  width:  50%;
  margin: 5px auto;
}

#report_button{
  margin: 30px;
  text-align: center;
}